<!-- <div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{destino.nombre}}</h4></span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
            voluptas totam</p>
            <a href="#" class="btn-card">Read</a>   
    </div>
</div> -->

<div class="card" style="width: 18rem;">
  <img src="https://placeimg.com/380/230/nature" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{destino.nombre}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>